<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xz.keybag">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name="com.xz.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/lanuch_max"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lanuch_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.BackupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonTheme"/>
        <activity
            android:name=".activity.DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.KeyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".activity.SecretActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".activity.AddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoadActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>